.bat {
    transition: transform .5s ease-in;
}

.field:hover .bat {
    transform: rotate(-50deg);
    transform-origin: top right;
}

.ball {
    position: relative;
    left: 34px;
    transition: 1s transform .455s;
}

.field:hover .ball {
    transform: translate(400px, -240px);
}